<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g0294.tutorial">

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layouts.LayoutsActivity"
            android:label="@string/Layouts" />
        <activity
            android:name=".layouts.LinearActivity"
            android:label="@string/linear_layout" />
        <activity
            android:name=".layouts.RelativeActivity"
            android:label="@string/relative_layout" />
        <activity
            android:name=".layouts.TableActivity"
            android:label="@string/table_layout" />
        <activity android:name=".ui.UserInterfaceActivity" />
        <activity
            android:name=".ui.TextViewActivity"
            android:label="@string/text_view" />
        <activity
            android:name=".ui.EditTextActivity"
            android:label="@string/edit_text" />
        <activity
            android:name=".ui.ButtonActivity"
            android:label="@string/button" />
        <activity
            android:name=".ui.ImageViewActivity"
            android:label="@string/image_view" />
        <activity android:name=".activitylifecycle.ActivityA" />
        <activity android:name=".activitylifecycle.ActivityB" />
        <activity android:name=".activitylifecycle.ActivityC" />
        <activity
            android:name=".activitylifecycle.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".customstyle.CustomStyleActivity" />
        <activity android:name=".ui.ImageZoomActivity" />
        <activity android:name=".memoryleak.StaticInstance"/>
        <activity android:name=".memoryleak.MemoryOne"/>
        <activity android:name=".memoryleak.MemoryTwo"/>
        <activity android:name=".ui.ImageResizeActivity"/>
        <activity android:name=".layouts.InflateActivity"/>
        <activity android:name=".containers.ContainerSelectActivity" />
        <activity android:name=".containers.ListViewAttrActivity" />
        <activity android:name=".containers.SimpleAdapterActivity" />
        <activity android:name=".containers.ArrayAdapterActivity" />
        <activity android:name=".containers.BaseAdapterActivity" />
        <activity android:name=".containers.GridViewActivity" />
    </application>

</manifest>
